In [4]:
import pandas as pd

In [5]:
df=pd.read_csv('d:/pg project responses/analyze using python/cust_res.csv')
df

,Unnamed: 0,Name,Gender,Age,Employment Status,Education Qualification,District,Area of Residence,type of vehicle,EV,...,4.5 cost consideration,5.1 consumer preference,5.2 consumer preference,5.3 consumer preference,5.4 consumer preference,5.5 consumer preference,6.1 evm consideration,6.2 evm consideration,6.3 evm consideration,6.4 evm consideration
0,0,Anish Glorisha,Female,18 - 27,Student,Post Graduate,Coimbatore,Urban,Petrol,No,...,4,4,4,4,3,4,3,3,4,3
1,1,Hari,Male,18 - 27,Student,Post Graduate,coimbatore,Rural,Diesel,Yes,...,2,1,1,3,3,3,1,2,2,4
2,2,CHINNAPPANDI J,Male,18 - 27,Student,Post Graduate,coimbatore,Rural,Petrol,Yes,...,1,4,2,4,3,2,4,4,5,5
3,3,P. Manikandan,Male,18 - 27,Student,Post Graduate,Viruthunagar,Urban,Diesel,Yes,...,3,3,1,3,2,2,3,4,4,3
4,4,Divyasri,Female,18 - 27,Student,Post Graduate,Dharmapuri,Urban,Petrol,No,...,4,4,2,2,3,2,2,3,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,196,Karuppaiya,Male,28 - 43,Employed,Diploma,Tiruppur,Urban,Petrol,No,...,1,4,3,3,3,1,5,5,5,5
197,197,Vishal,Male,18 - 27,Employed,Under Graduate,Tiruppur,Urban,Electric batteries,Yes,...,2,5,5,3,4,1,5,5,5,5
198,198,Nivedha,Female,18 - 27,Employed,Post Graduate,Tiruppur,Urban,Petrol,No,...,1,4,4,3,3,1,5,5,5,5
199,199,Xavier,Male,18 - 27,Employed,Under Graduate,Tiruppur,Urban,Petrol,No,...,1,5,4,3,3,1,5,5,5,5
200,200,S.Gangaiarasan,Male,44 - 59,Employed,Post Graduate,Pudukkottai,Rural,Petrol,No,...,1,2,2,1,2,1,4,4,4,3

In [6]:
df.columns

Index(['Unnamed: 0', 'Name', 'Gender', 'Age', 'Employment Status',
       'Education Qualification ', 'District', 'Area of Residence',
       'type of vehicle', 'EV', '1.1 current awareness',
       '1.2 current awareness', '1.3 current awareness',
       '1.4 current awareness', '2.1 user satisfaction',
       '2.2 user satisfaction', '2.3 user satisfaction',
       '2.4 user satisfaction', '2.5 user satisfaction',
       '3.1 charging facilities', '3.2 charging facilities',
       '3.3 charging facilities', '3.4 charging facilities',
       '4.1 cost consideration', '4.2 cost consideration',
       '4.3 cost consideration', '4.4 cost consideration',
       '4.5 cost consideration', '5.1 consumer preference',
       '5.2 consumer preference', '5.3 consumer preference',
       '5.4 consumer preference', '5.5 consumer preference',
       '6.1 evm consideration', '6.2 evm consideration',
       '6.3 evm consideration', '6.4 evm consideration'],
      dtype='object')

In [7]:
df.dtypes

Unnamed: 0                   int64
Name                        object
Gender                      object
Age                         object
Employment Status           object
Education Qualification     object
District                    object
Area of Residence           object
type of vehicle             object
EV                          object
1.1 current awareness        int64
1.2 current awareness        int64
1.3 current awareness        int64
1.4 current awareness        int64
2.1 user satisfaction        int64
2.2 user satisfaction        int64
2.3 user satisfaction        int64
2.4 user satisfaction        int64
2.5 user satisfaction        int64
3.1 charging facilities      int64
3.2 charging facilities      int64
3.3 charging facilities      int64
3.4 charging facilities      int64
4.1 cost consideration       int64
4.2 cost consideration       int64
4.3 cost consideration       int64
4.4 cost consideration       int64
4.5 cost consideration       int64
5.1 consumer preference      int64
5.2 consumer preference      int64
5.3 consumer preference      int64
5.4 consumer preference      int64
5.5 consumer preference      int64
6.1 evm consideration        int64
6.2 evm consideration        int64
6.3 evm consideration        int64
6.4 evm consideration        int64
dtype: object

In [40]:
df._get_numeric_data().describe()

,Unnamed: 0,1.1 current awareness,1.2 current awareness,1.3 current awareness,1.4 current awareness,2.1 user satisfaction,2.2 user satisfaction,2.3 user satisfaction,2.4 user satisfaction,2.5 user satisfaction,...,4.5 cost consideration,5.1 consumer preference,5.2 consumer preference,5.3 consumer preference,5.4 consumer preference,5.5 consumer preference,6.1 evm consideration,6.2 evm consideration,6.3 evm consideration,6.4 evm consideration
count,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,...,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000,201.000000
mean,100.000000,3.711443,3.592040,3.333333,3.701493,3.587065,3.940299,3.572139,3.582090,3.552239,...,2.393035,3.502488,3.562189,3.293532,3.358209,2.885572,3.990050,3.945274,4.144279,4.054726
std,58.167861,0.704499,0.716056,0.795822,0.866284,0.757385,0.941498,0.809951,0.757943,1.043316,...,1.144444,0.933404,0.875993,0.882274,0.788064,1.364493,1.004938,0.970562,0.929559,0.906637
min,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,50.000000,3.000000,3.000000,3.000000,3.000000,3.000000,4.000000,3.000000,3.000000,3.000000,...,1.000000,3.000000,3.000000,3.000000,3.000000,1.000000,3.000000,3.000000,4.000000,3.000000
50%,100.000000,4.000000,4.000000,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,2.000000,4.000000,4.000000,3.000000,3.000000,3.000000,4.000000,4.000000,4.000000,4.000000
75%,150.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000,...,3.000000,4.000000,4.000000,4.000000,4.000000,4.000000,5.000000,5.000000,5.000000,5.000000
max,200.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000